body{  
    background-color: white;  
    }   


#img-theo{

        border: 6px ridge black;  
        position: absolute;
      }


     /* animation */
     img {
        border-radius: 50%;
     }
     